language: python
dist: bionic

matrix:
  include:
    - python: "3.6"

cache: pip

before_install:
  - sudo rm -f /etc/boto.cfg

install:
  - pip install -e git+git://github.com/forestmonster/moto@1.3.5#egg=moto-1.3.5

before_script:
  - pip install --upgrade pip
  - pip install --upgrade setuptools
  - pip install -e ".[dev]"

script:
  - coverage run -m py.test || exit 1
# - mypy -p diffy --ignore-missing-imports || exit 1
  - bandit -r . -ll -ii -x tests/,docs

after_success:
  - coveralls

notifications:
  email:
    - fmonsen@netflix.com
    - kglisson@netflix.com
