-r requirements.txt
-r web-requirements.txt
bandit
bumpversion
codecov
-e git+git://github.com/forestmonster/moto@1.3.5#egg=moto-1.3.5
mypy
pip-tools
pre-commit
pre-commit-hooks
pytest
pytest-cov
pytest-flask
Sphinx
sphinx-autodoc-annotation
